---
title: MATH3401 Lecture Notes
single_page_exclude: true
---

<h1>MATH3401 &mdash; Complex Analysis</h1>
<p>
Lectured by Joe Grotowski in Semester 1 of 2020. Notes typed by Kenton Lam.
</p>

<p>
<strong>Useful links:</strong>
<a href="/All%20Notes/">full lecture notes on one page</a>,
<a href="/MATH3401%20Summary/">summary of topics</a>.
</p>

{% include 'list.njk' %}